header {
    background-color: blue;
}
nav{
    background-color: chocolate;
}
section{
    background-color: cyan;
}  
aside{
    background-color: darkgreen;
}
footer{background-color: gold;}
h1{
    background-color: gray;
}
main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
}
